@import "tailwindcss";

@font-face {
  font-family: 'pixelify-sans';
  src: url('/Familjen_Grotesk,Pixelify_Sans/Pixelify_Sans/static/PixelifySans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-background: rgb(44, 49, 76);
  --font-pixelify: 'pixelify-sans', sans-serif;
}
